* {
  padding: 0%;
  margin: 0%;
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.head__s2 img {
  display: none;
}

.head__s2 {
  display: flex;
  gap: 20px;
}

.head__s2 a {
  text-decoration: none;
}

.head__s2 h2 {
  border: solid black 2px;
}

.head__s2 h2:hover {
  border-bottom: solid green 2px;
}

@media screen and (max-width:600px) {
  .head__s2 a {
    display: none;
  }

  .head__s2 img {
    display: block;
    cursor: pointer;
    transition: 1s;
  }
}

.popup {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid green 2px;
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
}

.popup a {
  padding: 5px;
  text-decoration: none;
}

.popup h3:hover {
  color: green;
  cursor: pointer;
}



/*  */
.aboutme{
  padding: 30px;
  margin: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  border-radius: 20px;
  border: solid rgb(0, 0, 0) 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}
.aboutme p{
  padding: 10px;
}
@media screen and (max-width:600px) {
  .aboutme{
     margin-left: 20px;
  margin-right: 20px;
  }
}