* {
  padding: 0%;
  margin: 0%;
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.head__s2 img {
  display: none;
}

.head__s2 {
  display: flex;
  gap: 20px;
}

.head__s2 a {
  text-decoration: none;
}

.head__s2 h2 {
  border: solid black 2px;
}

.head__s2 h2:hover {
  border-bottom: solid green 2px;
}

@media screen and (max-width:600px) {
  .head__s2 a {
    display: none;
  }

  .head__s2 img {
    display: block;
    cursor: pointer;
    transition: 1s;
  }
}

.popup {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid green 2px;
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
}

.popup a {
  padding: 5px;
  text-decoration: none;
}

.popup h3:hover {
  color: green;
  cursor: pointer;
}


.head {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.head__s2 img {
  display: none;
}

.head__s2 {
  display: flex;
  gap: 20px;
}

.head__s2 a {
  text-decoration: none;
}

.head__s2 h2 {
  border: solid black 2px;
}

.head__s2 h2:hover {
  border-bottom: solid green 2px;
}

@media screen and (max-width:600px) {
  .head__s2 a {
    display: none;
  }

  .head__s2 img {
    display: block;
    cursor: pointer;
    transition: 1s;
  }
}

.popup {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid green 2px;
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
}

.popup a {
  padding: 5px;
  text-decoration: none;
}

.popup h3:hover {
  color: green;
  cursor: pointer;
}

.body {
  padding: 10px;
  margin: 40px;
  display: flex;
  gap: 10px;
}

.body__s1,
.body__s2,
.body__s3 {
  padding: 10px;
  border: solid black 2px;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.body__s1 ul,
.body__s2 ul,
.body__s3 ul {
  padding: 10px;

}

.body__s1 li,
.body__s2 li,
.body__s3 li {
  padding: 5px;

}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.project__1,
.project__2,
.project__3,
.project__4,
.project__5,
.project__6 {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 10px;
  border: solid white 2px;
  border-radius: 20px;
  
}

.project__1:hover,
.project__2:hover,
.project__3:hover,
.project__4:hover,
.project__5:hover,
.project__6:hover{
  background-color: gray;
cursor: pointer;

}

.imgs {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  padding: 0;
  background-color: transparent;
}
.h3{
  text-decoration: none;
}

@media screen and (max-width:600px) {
  .body {
    display: inline;
  }

  .body__s1,
  .body__s2,
  .body__s3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
  }
  .project{
    display:flex;
    width: 100%;
      flex-wrap: wrap;
      margin: 0;
      
  }
  .project__1,
.project__2,
.project__3,
.project__4,
.project__5,
.project__6 {
  flex-grow: 1;
  flex-basis: 50%;
  gap: 0;


}
}


